    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    #qoutes {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
    
    form {
        text-align: center;
    }
    
    form input {
        width: 250px;
        height: 40px;
        font-size: x-large;
        font-style: inherit;
        border: 0;
        outline: 0;
        background: transparent;
        border: 2px solid #96B0BC;
        border-radius: 12px;
    }
    
    button {
        position: relative;
        background: #333;
        border: none;
        outline: none;
        border-radius: 8px;
        cursor: pointer;
        width: 60px;
        height: 30px;
    }
    
    button span {
        color: #FFFFFF;
    }
    
    .anmi-shadow {
        box-shadow: 0 5px 10px #efefef;
        border-radius: 6px;
    }
    
    #anmi {
        background: #96b0bc;
    }
    
    .navbar-style {
        box-shadow: 0 5px 10px #efefef;
        text-transform: uppercase;
    }
    
    #qoutes {
        text-align: center;
        font-weight: 700;
        margin-top: 30px;
    }
    
    .navbar-header {
        margin-top: -15px;
        margin-bottom: -10px;
    }
    
    ul {
        list-style-type: none;
        line-height: 150%;
    }
    
    ul li {
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        border-radius: 6px;
    }
    
    ul li:hover {
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        border-radius: 6px;
        font-size: 30px;
    }